.App {
  text-align: center;
  display: flex;
}




.App-header {
  background-color: #040f26;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.whole-app{
  color: aliceblue;
  justify-content: center;
align-items: center;
text-align: center;
  
}

.card {
  align-items: center;
  display: inline-block;
  margin-left: 10vh;
  margin-right: 10vh;
  text-align: center;
}

#linkedIn-logo{
  position: absolute;
  top: 107vh;
  left: 40vh;
  height: 20px; 
  width: 20px;
}
#medium-logo{
  position: absolute;
  top: 110vh;
  left: 150vh;
  height: 20px; 
  width: 20px;
}
#git-logo{
  position: absolute;
  top: 107vh;
  left: 90vh;
  height: 20px; 
  width: 20px;
}

.logo-image{
   height: 100px; 
  width: 100px;
}

#medium-logo-image{
  height: 75px;
  width: 75px;
}
/* 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
